body {
    font-family:Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: .5fr 2fr 1fr;
    grid-template-rows: .1fr 4fr 1fr;
    margin:0;
    padding:0;
    min-height: 100vh;
    box-sizing: border-box;
    background-color:rgb(245, 238, 255);
}
.header {
    grid-column: 2 / 3;
    background-color:white;
}
.subheader {
    background-color:white;
    box-sizing: border-box;
    padding: 1em;
}
input {
    height: 20px;
    border-radius:20px;
    width: 30%;
}
.sidebar {
    grid-column: 1 / 1;
    grid-row: 1 / 4;
    background-color:rgb(93, 93, 245);
    color:white;
}
.announcements {
    grid-column: 3 / 3;
    grid-row: 2 / 2;
    margin-top: 2em;
}
.main {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2em;
    padding:2em;
}
.your-projects {
    grid-column: 1 / 3;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
   
}
ul, li {
    list-style-type: none;
    padding: 1em;
    margin: 0;
    gap: 20px;
}
button {
    background-color:blue;
    color:white;
    border-radius: 20px;
    border: none;
    height: 4vh;
    width: 7vw;
    font-weight: bold;
}
textarea {
    height: 20vh;
    border-left: orange 1vw solid;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
}
.announcements{
    border-color:black;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
}
.trending { 
    border-color:black;
    border-style: solid;
    border-width: 1px;
    margin-top: 2em;
    border-radius: 10px;
    padding: 10px;
}
.greeting-2 {
    font-size: 24px;
}